# last modified 2016-08-25 by J. Fox

importFrom("stats", "complete.cases", "cor", "dnorm", "na.omit",
         "optim", "optimise", "pchisq", "pnorm", "qnorm", "sd")

export(hetcor, polychor, polyserial)
S3method(hetcor, data.frame)
S3method(hetcor, default)
S3method(print, polycor)
S3method(print, hetcor)
S3method(as.matrix, hetcor)
